<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="paginas.css">
    <title>boletim do cliente</title>
</head>
<body>
    <h1>Central de avisos do cliente</h1>
    <div class="row">
        <input type="checkbox" name="cb" id="cb">
        <h2>Cliente</h2>
        <h2>notícia</h2>
        <h2>tentando imitar o email S2</h2>
        <h2>19/02/2023</h2>
        <button><img src="https://cdn-icons-png.flaticon.com/512/39/39220.png" alt="" width="30px" height="30px"></button>
    </div>
    <div class="row">
        <input type="checkbox" name="cb" id="cb">
        <h2>Cliente</h2>
        <h2>notícia</h2>
        <h2>tentando imitar o email S2</h2>
        <h2>19/02/2023</h2>
        <button><img src="https://cdn-icons-png.flaticon.com/512/39/39220.png" alt="" width="30px" height="30px"></button>
    </div>
    <div class="row">
        <input type="checkbox" name="cb" id="cb">
        <h2>Cliente</h2>
        <h2>notícia</h2>
        <h2>tentando imitar o email S2</h2>
        <h2>19/02/2023</h2>
        <button><img src="https://cdn-icons-png.flaticon.com/512/39/39220.png" alt="" width="30px" height="30px"></button>
    </div>
    <div class="row">
        <input type="checkbox" name="cb" id="cb">
        <h2>Cliente</h2>
        <h2>notícia</h2>
        <h2>tentando imitar o email S2</h2>
        <h2>19/02/2023</h2>
        <button><img src="https://cdn-icons-png.flaticon.com/512/39/39220.png" alt="" width="30px" height="30px"></button>
    </div>
</body>
</html>