<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="form.css">
    <title>avisos</title>
</head>
<body>
    <form action="">
        <h3>título</h3>
        <input type="text" name="título">
        <div>
            <select name="tipo_aviso">
                <option value="valor1">Notícia</option>
                <option value="valor2">Urgente</option>
                <option value="valor3">Atividade</option>
                <option value="valor4">Dúvida</option>
            </select>
            <select name="n_acesso">
                <option value="valor.1">Cliente</option>
                <option value="valor.2">Funcionário</option>
                <option value="valor.3">Diretoria</option>
            </select>
        </div>
        <textarea name="textarea">
        </textarea>
        <button type="submit">Enviar Aviso</button>

    </form>
</body>
</html>