<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template.css">
    <title>aba de direcionamento</title>
</head>
<body>
    <section>
        <div class="column">
            <div class="card">
                <button>sou cliente</button>
                <h2>acesse as informações mais recentes, e fique por dentro das novidades!</h2>
            </div>
            <div class="card">
                <button>sou funcionário</button>
                <h2>cheque os avisos e novidades todos os<br> dias, seja o melhor!</h2>
            </div>
            <div class="card">
                <button>sou da diretoria</button>
                <h2>mantenha-se<br> informado e continue seu bom trabalho<br> aqui!</h2>
            </div>
            
        </div>
        <h1>ou</h1>
        
        <div class="colum">
            <div class="card-e">
                <h2 id="edt">gostaria de nos alertar algo? nos diga aqui!</h2>
                <button class="btn">comunicar um<br> aviso</button>
            </div>
            <div class="card-e">
                <h2 id="edt">alguma novidade? conte-nos então!</h2>
                <button class="btn">adicionar notícia</button>
            </div>
        </div>
    </section>
</body>
</html>