<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pages.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Portal Cliente</h1>
            <div class="icons">
                <button><img src="https://img.icons8.com/ios/512/add--v1.png" alt="" id="btn_image"></button>
                <button><img src="https://cdn-icons-png.flaticon.com/512/25/25008.png" alt="" id="btn_image"></button>
            </div>
    </header>
    <section class="avisos">
        <div class="tool-bar">
            <h2>remetente</h2>
            <h2>assunto</h2>
            <h2>data</h2>
            <h2>permissão</h2>
        </div>
       <div class="row">
        <input type="checkbox" name="check" id="check">
        <h2 id="tb" name="remetente">usuário</h2>
        <h2 id="tb" name="assunto">tentando imitar o email S2</h2>
        <h2 id="tb" name="data">19/02/2023</h2>
        <h2>cliente</h2>
       </div>
       <div class="row">
        <input type="checkbox" name="check" id="check">
        <h2 id="tb" name="remetente">usuário</h2>
        <h2 id="tb" name="assunto">tentando imitar o email S2</h2>
        <h2 id="tb" name="data">19/02/2023</h2>
        <h2>cliente</h2>
       </div>
       <div class="row">
        <input type="checkbox" name="check" id="check">
        <h2 id="tb" name="remetente">usuário</h2>
        <h2 id="tb" name="assunto">tentando imitar o email S2</h2>
        <h2 id="tb" name="data">19/02/2023</h2>
        <h2>cliente</h2>
       </div>
       <div class="row">
        <input type="checkbox" name="check" id="check">
        <h2 id="tb" name="remetente">usuário</h2>
        <h2 id="tb" name="assunto">tentando imitar o email S2</h2>
        <h2 id="tb" name="data">19/02/2023</h2>
        <h2>cliente</h2>
       </div>
       <div class="row">
        <input type="checkbox" name="check" id="check">
        <h2 id="tb" name="remetente">usuário</h2>
        <h2 id="tb" name="assunto">tentando imitar o email S2</h2>
        <h2 id="tb" name="data">19/02/2023</h2>
        <h2>cliente</h2>
       </div>
    </section>
    <section class="notícias">
        <div class="card"><img src="https://img.freepik.com/fotos-gratis/fundo-de-textura-de-tinta-marmorizada-liquida-textura-abstrata-de-pintura-fluida-papel-de-parede-com-mistura-intensiva-de-cores_1258-82821.jpg" alt=""><h2>Título da notícia</h2></div>
        <div class="card"><img src="https://img.freepik.com/fotos-gratis/fundo-de-textura-de-tinta-marmorizada-liquida-textura-abstrata-de-pintura-fluida-papel-de-parede-com-mistura-intensiva-de-cores_1258-82821.jpg" alt=""><h2>Título da notícia</h2></div>
        <div class="card"><img src="https://img.freepik.com/fotos-gratis/fundo-de-textura-de-tinta-marmorizada-liquida-textura-abstrata-de-pintura-fluida-papel-de-parede-com-mistura-intensiva-de-cores_1258-82821.jpg" alt=""><h2>Título da notícia</h2></div>
        <div class="card"><img src="https://img.freepik.com/fotos-gratis/fundo-de-textura-de-tinta-marmorizada-liquida-textura-abstrata-de-pintura-fluida-papel-de-parede-com-mistura-intensiva-de-cores_1258-82821.jpg" alt=""><h2>Título da notícia</h2></div>
    </section>
</body>
</html>