<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forms.css">
    <title>avisos</title>
</head>
<body>
    <section>
    <form action="">
        <h3>título</h3>
        <input type="text" name="título">
        
        <label for="tipo_aviso">selecione o tipo de aviso</label>
        <select name="tipo_aviso">
            <option ></option>
            <option >Notícia</option>
            <option >Urgente</option>
            <option >Atividade</option>
            <option >Dúvida</option>
        </select>
        
        <label for="n_acesso">selecione o nível de acesso</label>
        <select name="n_acesso">
            <option ></option>
            <option >Cliente</option>
            <option >Funcionário</option>
            <option >Diretoria</option>
        </select>
        
        <textarea name="textarea">
        </textarea>
        <button type="submit">Enviar Aviso</button>

    </form>
    </section>
</body>
</html>